:root {
    --darkest-color: {DARKEST_COLOR};
    --med-color: {MED_COLOR};
    --light-color: {LIGHT_COLOR};
    --lightest-color: {LIGHTEST_COLOR};
}

body {
    margin: auto;
    text-align: justify;
    font-family: sans-serif;
}

nav {
    background-color: var(--darkest-color);
    width: 100%;
    padding: 5px;
}

nav ul, nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav a {
    color: var(--lightest-color);
    text-decoration: none;
}
nav a:hover {
    color: var(--light-color);
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: auto;
}

header {
    text-align: center;
}
header > h1 {
    color: var(--darkest-color);
}
header > div.meta {
    max-width: 400px;
    margin: auto;
    margin-bottom: 5px;
    color: var(--med-color);
}

main article {
    padding: 10px;
    border: 1px var(--med-color) solid;
    margin: auto;
    line-height: 1.2em;
}

main article h1 {
    color: var(--darkest-color);
    font-size: 1.3em;
    border-left: 10px var(--light-color) solid;
    padding-left: 10px;
    margin-bottom: 0px;
}

main article h2 {
    color: var(--darkest-color);
    font-size: 1.1em;
    border-left: 5px var(--light-color) solid;
    padding-left: 7px;
}

main article h3 {
    color: var(--darkest-color);
    font-size: 1em;
    border-left: 3px var(--light-color) solid;
    padding-left: 4px;
}

main article p.meta {
    text-align: right;
    font-size: 0.8em;
    color: var(--med-color);
}

main article blockquote {
    border-left: 3px var(--light-color) solid;
    padding-left: 10px;
}

main article img {
    display: block;
    margin:  auto;
    max-width: 95%;
}

main article .caption, main article figcaption {
    color:  var(--med-color);
    text-align: center;
}

main section#more {
    margin-top: 10px;
    padding: 10px;
    border: 1px var(--med-color) solid;
}

main section#more h2 {
    color: var(--darkest-color);
    font-size: 1.1em;
    border-left: 5px var(--med-color) solid;
    padding-left: 7px;
}

footer {
    background-color: var(--med-color);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}

footer a {
    color: white;
}

footer a:hover {
    color: var(--lightest-color);
}

{ADDITIONAL_CSS_RULES}
